* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
background: #fff1ce;
}

::-webkit-scrollbar-thumb:hover {
background: #fff7e2;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #2d2d2d;
    color: #fff1ce;
    line-height: 1.6;
}

.full-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    color: #fff1ce;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}
nav ul li a img {
    height: 30px;
}

.title-container h1 {
    font-size: 15rem;
    font-weight: 400;
    margin-top: -100px;
}

.title-container h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: -20px;
    letter-spacing: 3px;
}

/* Coding Journey Section */
.coding-journey {
    padding: 100px;
}

.coding-journey h3 {
    padding-top: 2rem;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.coding-journey h3 a {
    text-decoration: none;
    color: #fff1ce;
}

.coding-journey p {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 20px;
}

.coding-journey div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.coding-journey div img {
    justify-self: left;
    width: 600px;
    border-radius: 8px;
    margin: 80px 100px 80px 0;
}

.coding-journey div ul {
    text-align: left;
    list-style: none;
    font-size: 2rem;
    margin: 0 50px;
}

.coding-journey div ul li {
    padding-top: 10px;
}

.coding-journey div ul li a {
    color: #fff1ce;
    text-decoration: none;
}

/* Hello Section & Connect Section */

.hello-section h1, .connect-section h1 {
    font-size: 10rem;
    padding-top: 2rem;
    font-weight: 700;
    letter-spacing: 10px;
}

.hello-section p, .connect-section p {
    font-size: 2rem;
    margin-top: 80px;
    line-height: 4rem;
}

.connect-section p a {
    text-decoration: none;
    color: #fff1ce;
}
